.expform{
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-left: 20px;
}

.workexperiences{
  font-size: 14px;
  margin:  10px;
  font-weight:400;
  border-bottom: 1px solid black;
  padding: 10px;

}
.workexperiences > .title{
  font-size: 25px;
  color:rgb(0, 0, 0);
}
.workexperiences > .company{
  color:rgb(0, 150, 187);
  font-weight: 700;
}