/* for skills */
.grid{
  display: grid;
  grid-template-columns: 1fr 4fr;
  margin-top: 5px;

}
.skill{
  font-size: 16px;
  font-weight: bold;

}
.skills{
  padding: 0px ;
  height: clamp(500px,80vh,1000px);
  border-right: 1px solid black;
  max-width: 150px;
}

.skillsInput{
  max-width: 143px;
}
