
/* header */

.header{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid grey;
}

.filldata{
  position: absolute;
  left: 2px;
}
.formContainer{
  border: 1px solid black;
  margin: 15px;
}
button{
  background-color: white;
}

.formbuttons{
  display: flex;
  justify-content: center;
}


/* for skills */

/* each editable form input is a detail */
#detail{
  border: none;
}

.personal{
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  padding: 10px;
}

/* predefined stuff to reuse*/
.borderless{
  border: none;
}
.hidden{
  display: none;
}
.col{
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
}

.apart{
  display: flex;
  justify-content: space-between;

}
.alignleft{
  text-align: left;
}

.alignright{
  text-align: right;
}